body { /* parent */
    background-color: #123f; margin: 0;
    width: 100%; height: auto;
}
.element { /* body */
    float: left;
    position: absolute;
    width: 25%;
    height: 12%;
    padding-top: 2%; padding-right: 1%; padding-left: 0%;
    padding-bottom: 5%;
    margin-top: 5%; margin-right: 0%; margin-left: 0%;
    margin-bottom: 2%;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: block;
    border-style: solid; border-left-width: 3px;
    border-right-width: 3px; border-top-width: 3px;
    border-bottom-width: 3px;
    border-radius: 1px; border-color: black;
}
.element p { /* element */
    width: 100%;
    height: auto;
    font: 5vw Open, sans-serif;
    text-align: center;
    color: #eee;
}
